.full-screen {
  background-color: rgb(51, 51, 51);
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: 'Arial Black';
  text-align: center;
}

body {
  overflow: hidden;
  margin: 0;
}

.container {
  padding-top: 4em;
  display: block;
  margin: 0 auto;
}

.error-num {
  font-size: 10em;
  color: rgb(214, 175, 1);
}

.eye {
  background: #fff;
  border: .2rem solid rgb(214, 175, 1);
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  position: relative;
  width: 100px;
}
    .eye::after {
      background: #000;
      border-radius: 50%;
      bottom: 56.1px;
      content: ' ';
      height: 33px;
      position: absolute;
      right: 33px;
      width: 33px;
    }

.italic {
  font-style: italic;
}

p {
  margin-bottom: 4em;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: lightgray;
}

